@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap");

@keyframes gold_pulse {
	0%,
	100% {
		box-shadow: 0px 0px 6px 0px #ffd700;
	}
	50% {
		box-shadow: 0px 0px 2px 0px #ffd700;
	}
}

@keyframes silver_pulse {
	0%,
	100% {
		box-shadow: 0px 0px 6px 0px #c0c0c0;
	}
	50% {
		box-shadow: 0px 0px 2px 0px #c0c0c0;
	}
}

@keyframes bronze_pulse {
	0%,
	100% {
		box-shadow: 0px 0px 6px 0px #cd7f32;
	}
	50% {
		box-shadow: 0px 0px 2px 0px #cd7f32;
	}
}

@keyframes regular_pulse {
	0%,
	100% {
		box-shadow: 0px 0px 16px 0px #c96868;
	}
	50% {
		box-shadow: 0px 0px 2px 0px #c96868;
	}
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: #fadfa1;
}

.cont {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	gap: 20px;
	justify-content: center;
	align-items: center;
	font-family: "Comfortaa", sans-serif;
	color: #7eacb5;
}

/*.cont h2 {
	font-size: 3em;
} */

.cont h3 {
	/* font-size: 2em; */
	letter-spacing: 6px;
}

.group {
	border-radius: 20px;
	text-align: center;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 10px;
	padding: 10px 25px;
}

.group_cont {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 15px;
}

.group_cont h5 {
	font-size: 1em;
}

.stud_cont {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 5px;
}

.group_text {
	letter-spacing: 2px;
	font-weight: 500;
}

.group_text_cont {
	display: flex;
	flex-direction: column;
	align-items: start;
	gap: 10px;
}

.gold {
	border: 2px solid #d8a25e;
	color: #c96868;
	animation: gold_pulse 2.5s infinite ease-in-out;
}

.silver {
	border: 2px solid #a5a4a4;
	color: #c96868;
	animation: silver_pulse 2.5s infinite ease-in-out;
}

.bronze {
	border: 2px solid #9e6125;
	color: #c96868;
	animation: bronze_pulse 2.5s infinite ease-in-out;
}

.regular {
	border: 2px solid #c96868;
	color: #c96868;
	animation: regular_pulse 2.5s infinite ease-in-out;
}

img {
	width: 40px;
}

.cont_top {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex: dire;
	flex-direction: column;
	gap: 10px;
	justify-content: center;
	align-items: center;
	font-family: "Comfortaa", sans-serif;
	color: #7eacb5;
}

.cont_top h3 {
	letter-spacing: 6px;
	margin-bottom: 6px;
	grid-area: 1/1/1/3;
	justify-self: center;
}

.group_top {
	border-radius: 6px;
	text-align: center;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 10px;
	padding: 6px 10px;
}

.group_top img {
	width: 24px;
}

.top_list {
	display: flex;
	justify-content: space-between;
	gap: 36px;
}

.top {
	display: flex;
	gap: 10px;
	align-items: center;
	flex-direction: column;
}
