.gold {
  background: linear-gradient(
    45deg,
    rgba(255, 215, 0, 0.6),
    rgba(255, 215, 0, 0.6),
    rgba(255, 255, 255, 0.5),
    rgba(255, 215, 0, 0.6),
    rgba(255, 215, 0, 0.6)
  );
}

.silver {
  background: linear-gradient(
    45deg,
    rgba(203, 214, 216, 0.6),
    rgba(255, 255, 255, 0.5),
    rgba(203, 214, 216, 0.6)
  );
}

.bronze {
  background: linear-gradient(
    45deg,
    rgba(181, 101, 45, 0.6),
    rgba(181, 101, 45, 0.6),
    rgba(255, 255, 255, 0.4),
    rgba(181, 101, 45, 0.6),
    rgba(181, 101, 45, 0.6)
  );
}
