.gold {
	border: 2px solid #d8a25e;
	color: #3f72af;
	animation: gold_pulse 2.5s infinite ease-in-out;
}

.silver {
	border: 2px solid #a5a4a4;
	color: #3f72af;
	animation: silver_pulse 2.5s infinite ease-in-out;
}

.bronze {
	border: 2px solid #9e6125;
	color: #3f72af;
	animation: bronze_pulse 2.5s infinite ease-in-out;
}

.regular {
	border: 2px solid #3f72af;
	color: #3f72af;
	// animation: regular_pulse 2.5s infinite ease-in-out;
}
